<div *ngIf="!title; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Add Place</h1>
        <label>Title
          <input type="text" formControlName="title">
        </label>

        <label>Province
          <input type="text" formControlName="province">
        </label>

        <label>Place type
          <input type="text" formControlName="type">
        </label>

        <label>Detail
          <textarea  formControlName="detail"></textarea>
        </label>
        
        <input type="submit" class="button expanded" value="Add place" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>
